extends layout

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Sean Kozen

        p Front-end Developer, Aspiring Full Stack JavaScript Developer


        .about-bio

          p I am a former high school physics teacher, English teacher, and human resources manager who is ready to dive into the world of front-end development.  After taking a coding boot camp, I realized how interesting and enjoyable web development is.  I continue to learn and am currently expanding my skill set to include back-end development.  Writing clean code and putting all the pieces together to create a working application or web page is extremely satisfying.  My ultimate goal is to be a full-stack web developer capable of creating practical, but aesthetically pleasing projects.  


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li Sass
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Business Level Japanese

        h6 Contact Info

        ul
          li +81 09-6649-1892
          li rikasean@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/sean-george-kozen-10a8a0207/', target= "_blank") LinkedIn
        a.btn-link(href='https://github.com/seankozen/seankozen.github.io', target= "_blank") GitHub
        a.btn-link(href='https://www.facebook.com/sgkozen/', target= "_blank") Facebook

    nav.nav
      a(href='/')
        span &larr;
        |  Back