extends layout

block content
  nav.nav
      a(href='/')
        span &larr;
        |  Back

  img.errorPic(src='/static/images/404-error-ui-pngrepo-com.png', height= '100px', width='150px')  
  .errorPage    
      h1= `${err.status}`
        h2= `${err.message}`
        pre #{err.stack}
  
  nav.nav
      a(href='/')
        span &larr;
        |  Back